body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #555;
    border-radius: 5px;
    transition: 0.3s;
}

header nav a:hover {
    background-color: #777;
}

main.content {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a img {
    vertical-align: middle;
    margin-left: 8px;
}

#scriptsList div {
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    position: relative;
}

#scriptsList div p {
    user-select: none;
}
